<!-- pages\events.ejs -->
<!-- Include Header -->
<%- include('../partials/header.ejs') %>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title"><%= message %></h1>
      <h2 class="subtitle">Upcoming Events</h2>
      <div class="columns is-multiline">
        <% events.forEach(event => { %>
          <div class="column is-one-third" id="card-Event">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title"><%= event.name %></p>
              </header>
              <div class="card-content">
                <p class="is-size-6">Date: <%= event.date %> at <%= event.time %></p>
                <p class="is-size-6">Location: <%= event.location %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
    <link rel="stylesheet" href="style.css">

</body>
</html>

<!-- Include Footer -->
<%- include('../partials/footer.ejs') %>

