<!-- Include Header -->
<%- include('../partials/header.ejs') %>
<body>
  <h1><%= message %></h1>
  <h2>Upcoming Events:</h2>
  <% if (events.length > 0) { %>
    <ul>
      <% events.forEach(function(event) { %>
        <li>
          <h3><%= event.title %></h3>
          <p>Date: <%= event.date %></p>
          <p>Time: <%= event.time %></p>
          <p>Description: <%= event.description %></p>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No upcoming events.</p>
  <% } %>
</body>
</html>

<!-- Include Footer -->
<%- include('../partials/footer.ejs') %>